*~*
*swp*
*.orig
*.class
*closure
*.dat
*.csv
*.xlsx
*.xls
target
target/
test_data/
target/classes
target/classes/
classpath
.settings
*stacktrace
.classpath
.project
web-app/WEB-INF/classes
stacktrace.log
dtd/
prodDb.log
prodDb.properties
prodDb.script
newrelic.log
target-eclipse/
