*~*
*swp*
*.orig
*.class
*closure
*.dat
*.ser
*.csv
*.xlsx
*.xls
*.log
*.ods
*.zip
nohup.out
target
target/
items.csv
target/classes
target/classes/
classpath
.settings
.groovy
*stacktrace
.classpath
.project
web-app/WEB-INF/classes
stacktrace.log
dtd/
prodDb.log
prodDb.properties
prodDb.script
newrelic.log
target-eclipse/
item_titles.csv